/* Modal */
.modal-body {
    margin-left : 20%;
    margin-right : 20%;
}
.modal-title {
    text-align: center;
    font-size: 2em;
}

/* Form */
.form-group > .form-control {
    width : 100%;
}

#login-form-button {
    margin-left : 20%;
    margin-right : 15%;
}

#register-form-button {
    margin-left : 20%;
    margin-right : 15%;
}

#login-form-button > * {
    margin-left : 10%;
    margin-right : 2%;
    margin-top : 2%;
}

#register-form-button > * {
    margin-left : 8.5%;
    margin-right : 2%;
    margin-top : 2%;
}

.form-control-feedback {
    pointer-events: all;
    cursor : pointer;
}

.glyphicon.glyphicon-info-sign {
    font-size : 19px;
}

.btn-danger {
    color: #fff;
    font-weight: 600;
    background-color: #EC0400 !important;
    border-color: #EC0400 !important;
}

.btn-success {
    color: #fff;
    font-weight: 600;
    background-color: #53CD3D !important;
    border-color: #53CD3D !important;
}
