#wallpaper-screen {
    margin : auto 0px;
}

.img-fluid.img-thumbnail {
    background-color: #111;
    padding : 0px !important;
    border : none;
    margin-bottom : 6%;
    /* margin-left : 10%; */
    max-width : 255px;
    border-radius: 15px;
}


#pagination > .pager> li {
    display : inline-block;
    margin-left : 2em;
    margin-right : 2em;
}

#wallpaper-screen {
    padding-left : 0px;
}

#wallpaper-screen > .container{
    text-align: center;
    margin-top : 3vh;
    padding-left : 0px;
}

.premium
{
    opacity: 0.4;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* pointer-events : none; */
}

#popup {
    background: #111;
    border:none;
    /* box-shadow: 5px 5px 5px #999999; */
    -moz-box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 50px #000;
    box-shadow: 0 0 50px #000;
    border-radius:10px;
    height: 87vh;
    width: inherit;
    z-index : 5;
    /* Positioning image to the center of the screen */
    position : absolute;
    top: 53%;
    left: 50%;
    transform : translate(-50%, -50%);
    animation: zoomIn 0.25s linear;
}
@keyframes zoomIn { 
    from { 
      opacity: 0; 
      height: 0;
      animation-timing-function: ease-in;
    }
    to {
      opacity: 1;
      height: 87vh;
      animation-timing-function: ease-out;
    }
}

#popup.hidden {
    display : none;
}

.backFadeOut {
    filter : blur(5px); 
    pointer-events : none;
}
#categoryDrop {
    display : none;
}


@media only screen and (max-width: 990px) {
    .col-md-2 > .list-group {
        display: none;
    }
    #categoryDrop {
        display : block;
    }
    #wallpaper-screen > .container{
        margin-top : 8vh;
    }
    #wallpaper-screen > .container > .col-lg-3.col-md-4.col-sm-6.col-xs-9 {
        text-align : center;
        padding-right : 0px;
    }

}

@media only screen and (max-width: 768px) {
    #wallpaper-screen >.container {
        text-align : left;
    }
    .col-xs-9 {
        width : 100%;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

}

.pointer {cursor: pointer;}